<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="SpellPayment_ExpressCheckout::admin"
                title="Klix E-commerce Gateway"
                module="SpellPayment_ExpressCheckout"
                sortOrder="51"
                parent="Magento_Sales::sales"
                resource="SpellPayment_ExpressCheckout::paymentmethod_view"
        />
    </menu>
</config>
